/* Header */
.header {
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  margin: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: 800;
  padding-left: 64px;
  color: #333;
  text-decoration: none;
  color: #101828;
  z-index: 1000;
}
/* Logo Right Part */
.logoPart {
  color: #475467;
}

/* Navigiation container*/
.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation List */
.navigationList {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Navigation Link */
.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #101828;
  transition:
    color 0.3s ease,
    text-decoration-color 0.3s ease;
}

/* Navigation Link | hover | active | focus */
.navLink:hover {
  color: #d84343;
}

.navLink:active {
  color: #d84343;
}

.navLink:focus {
  color: #d84343;
}
.icon {
  font-size: 18px;
}
