/* Booking container */
.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  border: 2px solid #dadde1;
  border-radius: 10px;

  margin: 0 auto;
  margin-left: 70px;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 52px;
  padding-right: 52px;
}
/* Booking Titel | Booking Description */

.bookingTitle {
  margin: 0px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  color: #101828;
}

.bookingDescription {
  margin: 0px;
  color: #6c717b;
  font-weight: 400;
  font-size: 16px;
}

/* Booking From | Booking Field  | Booking Textarea*/
.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding-top: 24px;
  padding-bottom: 24px;
}

.bookingField {
  border-radius: 12px;
  width: 510px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;

  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  color: #6c717b;
}

.bookingTextarea {
  border-radius: 12px;
  width: 510px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;

  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  color: #6c717b;
}

/* Booking Button */
.bookingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #e44848;
  color: white;
  padding: 16px 63px 16px 63px;
  margin-top: 24px;
  border-radius: 200px;
  width: 166px;
}
