.locationContainer {
  padding-top: 48px;
  padding-left: 64px;
  max-width: 250px;
  width: 100%;
}

.locationTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #6c717b;
}

.btnLocation {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 250px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  text-transform: capitalize;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #101828;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 12px;
  border-color: #f7f7f7;
  outline: none;
}

.btnLocation:hover {
  cursor: pointer;
}

.iconLocation {
  width: 20px;
  height: 20px;
  color: #101828;
  padding-left: 20px;
}

.locationListItems {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 320px;

  background-color: #f7f7f7;
  border: 1px solid #ededed;
  border-radius: 14px;

  padding: 6px 0;
}

.locationItem {
  padding: 12px 20px 12px 40px;

  font-size: 15px;
  font-weight: 500;
  color: #222;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover-эффект */
.locationItem:hover {
  background-color: #ffffff;
  color: #000;
}

/* разделитель между пунктами */
.locationItem:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
