.locationContainer {
  padding-top: 48px;
  padding-left: 64px;
  max-width: 250px;
  width: 100%;
}

.locationTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #6c717b;
}

.btnLocation {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 250px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  padding-bottom: 10px;
  padding-top: 10px;
  color: #101828;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 12px;
  border-color: #f7f7f7;
  outline: none;
}

.iconLocation {
  width: 20px;
  height: 20px;
  color: #101828;
  padding-left: 20px;
}
