.main {
  font-family: "Inter", sans-serif;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.heroTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: 0%;
  color: white;
  padding: 0px;
  margin: 0px;
  padding-left: 64px;
}

.heroDiscription {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  padding-left: 64px;
  color: white;
  margin: 0px;
  padding-top: 16px;
}

.heroButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5%;
  color: #ffffff;
  text-align: center;

  background-color: #e44848;
  outline: none;
  padding: 16px 48px 16px 48px;
  border: 1px solid #e44848;
  border-radius: 200px;
  width: 90px;
  text-decoration: none;
  margin-left: 64px;
  margin-top: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, text-decoration-color 0.3s ease;
}

.heroButton:hover {
  background-color: #d84343;
}

.heroButton:focus {
  background-color: #d84343;
}

.heroButton:active {
  background-color: #d84343;
}
