.container {
  width: 631px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  justify-content: center;
  background-color: #f7f7f7;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 10px;
  margin-bottom: 80px;
}

/* Features */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0 0 24px;
  padding-top: 44px;
  padding-bottom: 20px;
  list-style: none;
}

.features li {
  padding: 10px 12px;
  background-color: #e5e6e7;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #101828;
}

.itemFeatures {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Vechicle Details */
.titleVehicle {
  margin-right: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-bottom: 24px;
  width: 100%;
  border-bottom: 2px solid #e5e7eb;
}

/* Details */

.details {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  padding-bottom: 44px;
}

.itemDetails {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  font-weight: 500;
  font-size: 15px;
  text-align: center;
}
