/* Main Container Catalog */
.catalogContainer {
  display: flex;
  gap: 54px;
  margin: 0px;
  padding: 0px;
}

/* Camper List Container */
.camperListContainer {
  margin-left: auto;
  margin-right: auto;
}
