/* Icons */
.iconStar {
  color: #ffc531;
  width: 16px;
  height: 16px;
}
.mapIcon {
  width: 16px;
  height: 16px;
}

/* Container */
.camperContainer {
  flex-direction: column;
  display: flex;
  padding-top: 48px;
  padding-right: 64px;
  padding-left: 64px;
}

/* Title */
.camperTitle {
  margin: 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

/* Rating + Location */
.meta {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Price */
.camperPrice {
  padding-top: 16px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

/* Camper Gallery */
.camperGallery {
  display: flex;
  gap: 48px;
  margin: 0px;
  padding: 0px;
  padding-top: 28px;
  overflow: hidden;
}

.camperImg {
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

/* Camper Description */
